//- side 1
div(class='side') 
  div(class='dot center')

//- side 2
div(class='side') 
  div(class='dot top-left')
  div(class='dot bottom-right')

//- side 3
div(class='side') 
  div(class='dot top-left')
  div(class='dot center')
  div(class='dot bottom-right')

//- side 4
div(class='side') 
  div(class='dot top-left')
  div(class='dot top-right')
  div(class='dot bottom-left')
  div(class='dot bottom-right')

//- side 5
div(class='side') 
  div(class='dot top-left')
  div(class='dot top-right')
  div(class='dot center')
  div(class='dot bottom-left')
  div(class='dot bottom-right')

//- side 6
div(class='side') 
  div(class='dot top-left')
  div(class='dot top-right')
  div(class='dot left-center')
  div(class='dot right-center')
  div(class='dot bottom-left')
  div(class='dot bottom-right')