html
  head
    title CLUEDO

    - var links = ['/css/game.css', '/css/dice.css', 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css'];
    each link in links 
      link(rel='stylesheet', href=link)
    
    - var scripts = ['/js/domGenerator.js', '/js/gameState.js', '/js/logger.js', '/js/options.js', '/js/poller.js', '/js/apiLayer.js', '/js/game.js'];
    each script in scripts 
      script(src=script)
        
  body 
    header(class='header')
      h1 CL<span>U</span>EDO
      div(class='username') Hey #{username}!
    main
      div(class='players')
      div(class='board')
        include board
      div(class='player-controls')
        div(class='cards')
        div(class='options')
          div(class='btn', id='accuse') ACCUSE
          div(class='btn', id='suspect') SUSPECT
          div(class='btn', id='pass') PASS
          div(class='btn', id='dice')
            div(class='die', id='die1')
            div(class='die', id='die2')
        div(class='logs')
          h3 Logs
          div(class='log-container')
            ul()
      div(class='popup-container' class='hidden')
        include popup