html
  head
    title CLUEDO
    link(rel='stylesheet', href='css/game.css')
    link(rel='stylesheet', href='css/dice.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css')
    script(src='js/domGenerator.js')
    script(src='js/gameState.js')
    script(src='js/logger.js')
    script(src='js/options.js')
    script(src='js/poller.js')
    script(src='js/apiLayer.js')
    script(src='js/board.js')
  body 
    header(class='header')
      h1 CL<span>U</span>EDO
      div(class='username') Hey #{username}!
    main
      div(class='board')
        include board
      div(class='player-controls')
        div(class='cards')
        div(class='options')
          div(class='btn', id='accuse') ACCUSE
          div(class='btn', id='suspect') SUSPECT
          div(class='btn', id='pass') PASS
          div(class='btn', id='dice')
            div(class='die', id='die1')
              include die
            div(class='die', id='die2')
              include die 
        div(class='logs')
          h3 Logs
          div(class='log-container')
            ul()
      div(class='popup-container')
        include popup