html
  head
    title CLUEDO
    link(rel='stylesheet', href='css/game.css')
    script(src='js/domGenerator.js')
    script(src='js/gameState.js')
    script(src='js/xhrUtils.js')
    script(src='js/poller.js')
    script(src='js/apiLayer.js')
    script(src='js/board.js')
  body 
    header(class='header')
      h1 CL<span>U</span>EDO
      div(class='username') Hey #{username}!
    main
      div(class='board')
      div(class='player-controls')
        div(class='cards')
        div(class='options')
          div(class='btn', id='accuse') ACCUSE
          div(class='btn', id='suspect') SUSPECT
          div(class='btn', id='pass') PASS
          div(class='btn', id='dice')
            div(class='die', id='die1')
            div(class='die', id='die2')
        div(class='logs')
      div(class='popup-container')
        include popup