html
  head
    title Home 
    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='css/login-home.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css')
    script(src='js/home.js')
  body(class='cover-img')
    header(class='header')
      h1(class='logo') CL<span class='red-text'>U</span>EDO
      div(class='user-profile')
        div(class='username') Hey #{username} !
        a(class='logout fas fa-sign-out-alt' href='/logout')
    main
      div(class='container box-design')
        form(action='/lobby/host', method='post', id='host-form')
          select(name='maxPlayers')
            - for (var val = 3; val <= 6; val++)
              option(value=val) #{val} players
          input(type='submit', value='HOST', id='host-button')

        div(class='or') -OR-

        form(action='/lobby/join', method='post', id='join-form')
          input(type='text', name='room-id',id='room-id', placeholder='Enter Room ID')
          input(type='submit', value='JOIN', id='join-button')
          
        div(class='error-message')