html 
  head 
    title Cluedo
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/notFound.css')
  body 
    main 
      div(class='container')
        h1 4<span class='red'>0</span>4
        h3 Page Not Found
        p The page you are looking for does not exist.
        a(href='/') 
          div(class='home-btn') Home