#dice {
  height: 80px;
  padding: 0.5em;
}

.die {
  width: 60px;
  aspect-ratio: 1;
  position: relative;
}

.dot {
  position: absolute;
  width: 20%;
  aspect-ratio: 1;
  background-color: black;
  border-radius: 50%;
}

.face {
  width: 100%;
  aspect-ratio: 1;
  position: absolute;
  border-radius: 6px;
  background-color: white;
  box-shadow: inset -1px -1px 2px 0px #aaa;
}

.top-left {
  top: 14%;
  left: 14%;
}

.top-right {
  top: 14%;
  right: 14%;
}

.bottom-left {
  left: 14%;
  bottom: 14%;
}

.bottom-right {
  right: 14%;
  bottom: 14%;
}

.right-center {
  top: 40%;
  right: 14%;
}

.left-center {
  top: 40%;
  left: 14%;
}

.center {
  top: 38%;
  left: 38%;
}