#dice {
  height: 80px;
  padding: 0.5em;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective-origin: 50%;
}

.die {
  width: 60px;
  aspect-ratio: 1;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.quick {
  transition: transform 1ms;
}

.dot {
  width: 20%;
  aspect-ratio: 1;
  position: absolute;
  background-color: black;
  border-radius: 50%;
}

.side {
  width: 100%;
  aspect-ratio: 1;
  position: absolute;
  border-radius: 6px;
  background-color: white;
  box-shadow: inset -1px -1px 2px 0px #aaa;
}


#side1 {
  transform: translateZ(1.45em);
}

#side2 {
  transform: rotateY(90deg) translateZ(1.45em);
}

#side3 {
  transform: rotateX(90deg) translateZ(1.45em);
}

#side4 {
  transform: rotateX(-90deg) translateZ(1.45em);
}

#side5 {
  transform: rotateY(-90deg) translateZ(1.45em);
}

#side6 {
  transform: rotateY(180deg) translateZ(1.45em);
}

.show-1 {
  transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
}

.show-2 {
  transform: rotateX(360deg) rotateY(-90deg) rotateZ(360deg);
}

.show-3 {
  transform: rotateX(-90deg) rotateY(360deg) rotateZ(360deg);
}

.show-4 {
  transform: rotateX(90deg) rotateY(360deg) rotateZ(360deg);
}

.show-5 {
  transform: rotateX(360deg) rotateY(90deg) rotateZ(360deg);
}

.show-6 {
  transform: rotateX(-180deg) rotateY(360deg) rotateZ(360deg);
}

.top-left {
  top: 14%;
  left: 14%;
}

.top-right {
  top: 14%;
  right: 14%;
}

.bottom-left {
  left: 14%;
  bottom: 14%;
}

.bottom-right {
  right: 14%;
  bottom: 14%;
}

.right-center {
  top: 40%;
  right: 14%;
}

.left-center {
  top: 40%;
  left: 14%;
}

.center {
  top: 38%;
  left: 38%;
}