* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  margin: 20px 30px 30px 50px;
  display: flex;
  justify-content: space-between;
}

.header>h1 {
  text-align: center;
  width: 90%;
}

main {
  height: 100%;
  width: 1700px;
  display: flex;
  column-gap: 30px;
  margin: 0 20px;
}

.user {
  font-size: 30px;
  text-transform: capitalize;
}

.current-player {
  stroke: rgb(7, 235, 186);
  stroke-width: 0.4%;
}

.container {
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.turn-message {
  font-weight: 600;
}