:root {
  --border-radius: 0.2em;
  --font-size: 1.2em;
  --border: 1px solid black;
  --red: #ed1d25;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  width: 1790px;
  height: 920px;
  margin: 0 auto;
  background-image: radial-gradient(circle at center, #272ba1, #050c21);
}

.card {
  border-radius: var(--border-radius);
  border: 1px solid white;
  box-shadow: 1px 1px 10px white;
  overflow: hidden;
}

.card>img {
  width: 100%;
  height: 100%;
}

.suspicion-breaker>img,
.character>img {
  width: 100%;
}

.btn {
  width: 70%;
  padding: 0.8em;
  opacity: 0.6;
  display: flex;
  justify-content: space-around;
  border: 1px solid var(--red);
  font-size: var(--font-size);
  border-radius: var(--border-radius);
  background-color: var(--red);
  color: white;
}

.hidden {
  visibility: hidden;
}

.fade {
  opacity: 0.5;
}

/* Game Page */
.header {
  width: 100%;
  height: 8%;
  padding: 2.4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;
  color: white;
}

.header span {
  color: var(--red);
}

.username {
  font-size: var(--font-size);
  text-transform: capitalize;
}

main {
  width: 100%;
  height: 92%;
  display: flex;
}

.players {
  width: 15%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.players .player {
  width: 80%;
  height: 15%;
  padding: 0.4em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.players .character {
  width: 91px;
  height: 80%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid white;
  box-shadow: 3px 3px 13px 0px white;
}

.players .name,
.players .you {
  width: 91px;
  font-size: 1.2em;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board {
  width: 48%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.tile,
.starting-tile,
.secret-passage {
  width: 1;
  height: 1;
}

.tile {
  fill: #deab53;
  stroke: brown;
  stroke-width: 0.05%;
}

.starting-tile {
  fill: #5f2e14;
  stroke: dimgrey;
  stroke-width: 0.2%;
}

.secret-passage {
  fill: transparent;
  stroke: dimgrey;
  stroke-width: 0.2%;
}

.room {
  stroke: var(--red);
  stroke-width: 0.2%;
}

.room-name {
  fill: white;
  font-size: 0.6;
}

/* Character tokens */
.token {
  r: 0.35;
  stroke: white;
  stroke-width: 0.1%;
}

#scarlett {
  fill: var(--red);
}

#mustard {
  fill: yellow;
}

#white {
  fill: white;
}

#green {
  fill: green;
}

#peacock {
  fill: blue;
}

#plum {
  fill: purple;
}

.player-controls {
  width: 37%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.cards {
  width: 100%;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 7% 11%;
}

.cards .card {
  width: 22%;
  height: 44%;
}

.options {
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.logs {
  width: 60%;
  height: 40%;
}

/* Popup */
.popup-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

article {
  height: 450px;
  width: 640px;
  padding: 2em;
  border-radius: var(--border-radius);
  position: fixed;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5em;
  visibility: hidden;
}

.popup-options {
  width: 50%;
  display: flex;
  justify-content: center;
  column-gap: 1em;
}

.popup-options>.btn {
  width: 40%;
  padding: 0.5em;
  opacity: 1;
  cursor: pointer;
}

.selected-cards,
.cards-combo {
  display: flex;
  justify-content: center;
}

.selected-cards {
  width: 90%;
  height: 70%;
  gap: 1em;
}

.cards-combo {
  width: 100%;
  height: 60%;
  gap: 2em;
}

.suit {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#selected-room .card {
  margin-top: 2.5em;
}

.suit .card {
  width: 90%;
  height: 80%;
}

.suit select {
  width: 90%;
  padding: 0.1em;
  font-size: 1em;
  text-transform: capitalize;
}

.popup-container #suspect-result-popup {
  row-gap: 1.1em;
  justify-content: space-between;
}

#turn-order {
  width: 100%;
  height: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#turn-order>div {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 3px 3px 5px gray;
}

#turn-order img {
  width: 100%;
}

#suspicion-breaker {
  border: 3px solid red;
}

#suspect-result-popup .card {
  width: 23%;
  height: 95%;
  position: relative;
}

#suspect-result-popup .mark {
  position: absolute;
  top: 22%;
  left: 7%;
  color: var(--red);
  font-size: 7em;
  opacity: 0.8;
}

#game-over-popup {
  height: 380px;
  width: 550px;
  gap: 4em;
}

#game-over-popup #play-again-btn {
  opacity: 1;
  width: 100%;
}

#game-over-popup .winner-message {
  font-size: 2em;
  font-weight: 400;
}

#game-over-popup .popup-options {
  width: 80%;
}

#game-over-popup #quit-btn {
  justify-content: center;
  align-items: center;
}

#game-over-popup a {
  display: block;
  text-decoration: none;
  color: white;
}

/* highlight */
.highlight-profile {
  border: 1px solid var(--red);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 15px 2px var(--red);
}

.highlight-btn {
  cursor: pointer;
  opacity: 1;
  box-shadow: 0px 0px 15px 2px var(--red);
}

.highlight-path {
  cursor: pointer;
  animation: blink-tile 1.5s ease-out infinite;
  animation-direction: alternate;
}

.highlight-room {
  cursor: pointer;
  fill: rgba(255, 255, 255, 0.6);
  animation: blink-room 1.5s ease-out infinite;
  animation-direction: alternate;
}

.current-player {
  stroke: cyan;
  stroke-width: 0.1;
  animation: pulsar 1.5s ease-out infinite;
  animation-direction: alternate;
}

@keyframes blink-tile {
  to {
    fill: #f6dfb8;
  }
}

@keyframes blink-room {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}

@keyframes pulsar {
  from {
    r: 0.28;
  }

  to {
    r: 0.5;
  }
}

g>.highlight {
  stroke: aliceblue;
  stroke-width: 0.007em;
}