* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 1650px;
  margin: 20px 1% 30px 50px;
  display: flex;
  justify-content: space-between;
}

.header>h1 {
  text-align: center;
  width: 95%;
}

main {
  height: 780px;
  width: 1600px;
  display: flex;
  column-gap: 30px;
}

.user {
  font-size: 30px;
  text-transform: capitalize;
}

.current-player {
  stroke: rgb(7, 235, 186);
  stroke-width: 0.4%;
}

.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.image-wrapper {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 2px 1px 3px gray;
}

.image-wrapper>img {
  width: 100%;
  border: 2px solid black;
}

.profile-card>figcaption {
  text-align: center;
  font-size: 1.2em;
  text-transform: capitalize;
}

.turn-message {
  font-weight: 600;
  margin-left: 40%;
  width: 80%;
}

.sub-container {
  display: flex;
  width: 800px;
  justify-content: space-around;
}

.cards {
  display: flex;
  column-gap: 20px;
  justify-content: center;
}

.card {
  overflow: hidden;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 1px 3px gray;
}

.accuse-popup .card,
.card>img {
  width: 130px;
  height: 220px
}

.popup-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  visibility: hidden;
}


.accuse-popup {
  padding: 2em;
  height: 700px;
  width: 700px;
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  margin: 110px;
}

.envolope-cards,
.accused-cards {
  width: 90%;
  height: 35%;
  margin: 0 auto;
  display: flex;
  column-gap: 20px;
  justify-content: center;
}

.accused-cards {
  height: 38%;
}

.popup-options {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  column-gap: 1em;
}

.suit {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.dice-box,
.pass {
  width: 50%;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  border-radius: 5px;
  justify-content: space-around;
}

.dice {
  width: 40px;
  aspect-ratio: 1;
  border: 1px solid black;
  text-align: center;
  padding: 6px;
}

.options {
  width: 30%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.highlight {
  cursor: pointer;
  border: 1px solid orangered;
  box-shadow: 2px 2px 10px orange;
}

.highlight-path {
  stroke-width: 0.4%;
  fill: orange;
}