body {
  background-image: url('/images/mrblack-murderd.png');
}

main {
  flex-direction: column;
  gap: 1em;
}

.status {
  font-size: 1.1em;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.spinner {
  height: 25px;
  aspect-ratio: 1;
  border: 4px solid white;
  border-radius: 50%;
  border-top: 4px solid transparent;
  animation: spin 1.5s linear infinite;
}

.box-design {
  height: 80%;
  width: 40%;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.box-design>header {
  width: 100%;
  padding: 0.4em;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--red);
  border-radius: var(--border-radius);
}

#leave-lobby {
  cursor: pointer;
}

.players {
  width: 80%;
  height: 100%;
  row-gap: 40px;
  display: flex;
  justify-content: space-around;
  column-gap: 20px;
  flex-wrap: wrap;
}

.character {
  width: 25%;
  height: 45%;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.character-img {
  width: 100%;
  height: 80%;
  border-radius: var(--border-radius);
  box-shadow: 1px 1px 5px 1px white;
  overflow: hidden;
}

.character img {
  width: 100%;
  height: 100%;
}

.player-name {
  width: 100%;
  padding: 0.2em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: var(--red);
}

.name {
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
}

#start-game {
  visibility: hidden;
}

.popup-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

#leave-lobby-popup {
  height: 200px;
  width: 350px;
  padding: 1em;
  border-radius: var(--border-radius);
  position: fixed;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5em;
}

#leave-lobby-popup:first-child {
  text-align: center;
}

.popup-options {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 1em;
}

.popup-options .btn {
  width: 30%;
  padding: 0.5em;
  color: white;
  cursor: pointer;
  font-size: var(--font-size);
  border-radius: var(--border-radius);
  background-color: var(--red);
}

.popup-options form {
  width: 30%;
}

.popup-options #leave-lobby-btn {
  border: none;
  width: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}