body {
  background-image: url('/images/mrblack-murderd.png');
}

.container {
  margin-top: 10em;
  width: 36em;
  height: 36em;
  justify-content: flex-start;
  gap: 0px;
}

.room-id {
  margin: 40px 0;
  padding: 0.3em;
  color: white;
  background-color: #ed1d25;
  width: 45%;
  font-weight: 600;
  text-align: center;
  border-radius: 0.2em;
}

.players {
  width: 80%;
  row-gap: 40px;
  display: flex;
  justify-content: space-around;
  column-gap: 20px;
  flex-wrap: wrap;
}

.character {
  display: flex;
  flex-direction: column;
}

.player-name {
  padding: 0.2em;
  border-radius: 0.2em;
  margin-top: 0.3em;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  color: white;
  background-color: #ed1d25;
  font-weight: 600;
}

.logo {
  width: 120px;
}