body {
  background-image: radial-gradient(circle at center, #272ba1, #050c21);
}

.container {
  width: 50%;
  color: white;
  text-align: center; 
}

.container > * {
  margin-top: 30px;
}

.container > h1 {
  font-size: 10em;
  line-height: 1em;
}

.red {
  color: var(--red);
}

a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.home-btn {
  font-weight: 600;
  width: 8em;
  padding: .6em;
  opacity: 0.9;
  background-color: var(--red);
  border-radius: 5px;
}

.home-btn:hover {
  cursor: pointer;
  box-shadow: var(--box-shadow);
}